html {
    border-left: 5px solid gray;
}
body{
    min-height: 100%;
    max-width: 1000px;
    font-family: sans-serif;
    margin: 0 auto;
}
header,main,footer {
    padding: 1rem 2rem;

}
ul {
    padding: 0;
    list-style-type: none;
}
.menu-list, .menu-list-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-list a, .menu-list a:visited {
    color: lightgray 
}

h1 {
color: tomato;
}

image {
    width: 100%;
}
footer a , footer a:visited {
    color: tomato;
}
article p::first-letter{
    font-size: 4em;
    color: gray;
    float: left;
    margin-right: 10px;
    line-height: 1;
}

article p {
    font-family: 'Georgia', serif; 
    font-size: 1.2em;
    line-height: 1.6;             
    color: #333;                 
    text-align: justify;          
    margin-bottom: 1.5em; 
  }

  article span {
    display: flex;
    justify-content: end;
  }
  span a :visited, span a {
    color: tomato;
  }